
*.classpath

*.project

*.prefs

*.settings

*dependency-reduced-pom.xml

*/target

*/*/target

*.DS_Store

data/infochimps_dataset_47*

pictures.graffle

talkbackup

*/apache-solr-4.0.0


06-sql-to-solr/stocks/collection1/data/index

06-sql-to-solr/derby.log
